
.newsletter{
    padding-top: 50px;
}


.newsletter-text {
    grid-row-gap: 64px;
}

.packages-location .packages-icon{
    width: 24px;
    height: 24px;
}

.packages-location, .packages-time {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.full-package-text {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.packages-price-location {
    margin-left: .25rem;
    flex-grow: 1;
}

.h4-default{
    word-spacing: 2px;
}



