.markdown-body h1:first-of-type {
    border-bottom: none;
}

.markdown-body h1:first-of-type a{
    color: initial;
    font-weight: 500;
}

.cover-container {
    min-height: 400px;
    width: 100%;
    border-radius: 1.5rem;
    background-image: url('../../zvenigorod/zvenigorod-rozgd.jpg');
    background-size: cover;
    background-position: center 50%;
    display: flex;
    flex-flow: column;
    justify-content: end;
    margin-bottom: 2rem;
}
.cover-text {
    padding: 2rem 3rem;
    background-image: linear-gradient(#0000, #000);
    border-radius: 1.5rem;
    color: white;
    flex-flow: column;
    display: flex;
    grid-column-gap: 1rem;
    grid-row-gap: 1.25rem;
}
.cover-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
    font-size: 2.25rem;
    line-height: 1;
}
.cover-description {
    display: flex;
    gap: .75rem;
    flex-flow: column;
    margin-left: .25rem;
}
.cover-description div{
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    display: flex;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
.cover-icon{
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent !important;
}

.mapboxgl-control-container {
    display: none !important;
}

#map {
    height: 70vh;
    margin-bottom: 2rem;
    --map-info: 'Center: -, - _ Zoom: -';
}

#map-info {
    content: var(--map-info);
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 8px 12px;
    font-family: sans-serif;
    border-radius: 4px;
    font-size: 14px;
    white-space: pre;
}

.markdown-body{
    margin-bottom: 8rem!important;
}

.markdown-body img {
    display: block;
    height: auto;
    max-width: 80%;
    margin: 1rem auto 2rem;
}


@media only screen and (max-width: 768px) {
    .cover-text{
        padding: 2rem 1.5rem;
    }
    .markdown-body img {
        max-width: 100%;
    }
}

.markdown-body img.cover-icon {
    margin: initial!important;
}
